
    <footer class="position-relative-footer" id="footer-main">
        <div class="footer pt-lg-7 footer-dark bg-dark">

            <!-- Footer -->
            <div class="container pt-4">
                
                <div class="row align-items-center justify-content-center pb-4">
                    <div class="col-md-6">
                        <div class="copyright text-sm font-weight-bold text-center text-md-center ">
                           Chat-app - 2023 &copy;</a>
                        </div>

                </div>
            </div>
        </div>
    </footer>
